{
    "record_fields" : [{
            "_id" : 10,
            "name" : "id",
            "appendable" : "false",
            "immutable" : "true",
            "createskip" : "false"
        }, {
            "_id" : 20,
            "name" : "approval",
            "appendable" : "false",
            "immutable" : "false",
            "createskip" : "true"
        }, {
            "_id" : 30,
            "name" : "id",
            "appendable" : "false",
            "immutable" : "true",
            "createskip" : "false"
        }, {
            "_id" : 40,
            "name" : "approval_url",
            "appendable" : "false",
            "immutable" : "false",
            "createskip" : "true"
        }, {
            "_id" : 50,
            "name" : "date_issued",
            "appendable" : "false",
            "immutable" : "true",
            "createskip" : "false"
        }, {
            "_id" : 60,
            "name" : "date_added",
            "appendable" : "false",
            "immutable" : "false",
            "createskip" : "true"
        }, {
            "_id" : 70,
            "name" : "user",
            "appendable" : "false",
            "immutable" : "false",
            "createskip" : "false"
        }, {
            "_id" : 80,
            "name" : "assignee",
            "appendable" : "false",
            "immutable" : "false",
            "createskip" : "false"
        }, {
            "_id" : 90,
            "name" : "issue",
            "appendable" : "true",
            "immutable" : "false",
            "createskip" : "false"
        }, {
            "_id" : 100,
            "name" : "category",
            "appendable" : "false",
            "immutable" : "false",
            "createskip" : "false"
        }, {
            "_id" : 110,
            "name" : "dir",
            "appendable" : "false",
            "immutable" : "false",
            "createskip" : "true"
        }, {
            "_id" : 120,
            "name" : "doc",
            "appendable" : "false",
            "immutable" : "false",
            "createskip" : "false"
        }, {
            "_id" : 130,
            "name" : "key_info",
            "appendable" : "false",
            "immutable" : "false",
            "createskip" : "false"
        }, {
            "_id" : 140,
            "name" : "last_updated",
            "appendable" : "false",
            "immutable" : "false",
            "createskip" : "false"
        }, {
            "_id" : 150,
            "name" : "status",
            "appendable" : "false",
            "immutable" : "false",
            "createskip" : "false"
        }, {
            "_id" : 160,
            "name" : "notes",
            "appendable" : "true",
            "immutable" : "false",
            "createskip" : "true"
        }, {
            "_id" : 170,
            "name" : "similar_issue",
            "appendable" : "true",
            "immutable" : "false",
            "createskip" : "true"
        }, {
            "_id" : 180,
            "name" : "hypothesis",
            "appendable" : "true",
            "immutable" : "false",
            "createskip" : "false"
        }, {
            "_id" : 190,
            "name" : "root_cause",
            "appendable" : "true",
            "immutable" : "false",
            "createskip" : "true"
        }, {
            "_id" : 200,
            "name" : "resolution",
            "appendable" : "true",
            "immutable" : "false",
            "createskip" : "true"
        }, {
            "_id" : 210,
            "name" : "tables",
            "appendable" : "true",
            "immutable" : "false",
            "createskip" : "true"
        }, {
            "_id" : 220,
            "name" : "reproduce",
            "appendable" : "false",
            "immutable" : "false",
            "createskip" : "true"
        }, {
            "_id" : 230,
            "name" : "archeology",
            "appendable" : "false",
            "immutable" : "false",
            "createskip" : "true"
        }
    ]
}
